doctype html
html
  head
    title Card Matching Game
    style.
      .card-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
      }
      .card {
        width: 100px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        font-size: 36px;
        text-align: center;
        background-color: white;
        cursor: pointer;
        border-radius: 10px;
        position: relative;
        perspective: 1000px;
      }
      .card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
      }
      .card.flipped .card-inner {
        transform: rotateY(180deg);
      }
      .card-front, .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
      }
      .card-back {
        background: repeating-linear-gradient(
          45deg,
          #606dbc,
          #606dbc 10px,
          #465298 10px,
          #465298 20px
        );
      }
      .card-front {
        background-color: white;
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        box-sizing: border-box;
      }
      .card-symbol {
        font-size: 25px;
      }
      .top-left {
        position: absolute;
        top: 5px;
        left: 5px;
      }
      .bottom-right {
        position: absolute;
        bottom: 5px;
        right: 5px;
      }
      .red {
        color: red;
      }
      .black {
        color: black;
      }
  body
    h1(data-username=username) Welcome, #{username}
    p Your high score: #{highScore}
    h2 Score: 0
    h3 Guesses Remaining: 12
    .card-grid
      each card in cards
        .card(data-suit=card.suit data-value=card.value data-id=card.id)
          .card-inner
            .card-front
              span(class=card.suit === 'd' || card.suit === 'h' ? 'red' : 'black') #{card.value}
              span.card-symbol.top-left(class=card.suit === 'd' || card.suit === 'h' ? 'red' : 'black')
                if card.suit === 'c'
                  | ♣
                else if card.suit === 'd'
                  | ♦
                else if card.suit === 'h'
                  | ♥
                else if card.suit === 's'
                  | ♠
              span.card-symbol.bottom-right(class=card.suit === 'd' || card.suit === 'h' ? 'red' : 'black')
                if card.suit === 'c'
                  | ♣
                else if card.suit === 'd'
                  | ♦
                else if card.suit === 'h'
                  | ♥
                else if card.suit === 's'
                  | ♠
            .card-back
    a(href=`/`) Logout
    script(src="/js/game.js")
