doctype html
html
  head
    title User Profile
    script.
      function confirmDeletion() {
        return confirm("Are you sure you want to delete your account? This action cannot be undone.");
      }
  body
    h1 Welcome, #{user.username}
    p Your high score: #{user.highScore}
    a(href=`/game/${user.username}/play`) Start Game
    br
    a(href="/users/high-scores") View High Scores
    br
    a(href="/") Logout
    br
    a(href=`/users/${user.username}/change-password`) Change Password
    br
    form(action=`/users/${user.username}/delete`, method="POST", onsubmit="return confirmDeletion()")
      button(type="submit", style="color:red") Delete Account
